---
import Layout from '../layouts/Layout.astro'
import Card from '../components/Card.astro'
---

<Layout title='protfolio'>
  <main>
    <h1 class="text-xl font-bold">portfolio</h1>
    <p class='bg-red-200'>portfolio</p>
  </main>
</Layout>

<style></style>
