---
import About from '@/components/sections/About.astro'
import Layout from '@/layouts/Layout.astro'
import Hero from '@/components/sections/Hero.astro'
import Section from '@/components/Section.astro'
import Experience from '@/components/sections/Experience.astro'
import Skills from '@/components/sections/Skills.astro'
---

<Layout title='portfolio'>
  <main class='p-4 m-auto'>
    <Section />
    <Hero />
    <About />
    <Experience />
    <Skills />
    <h1 class='text-xl font-bold'>portfolio</h1>
    <p class='bg-red-200'>portfolio</p>
  </main>
</Layout>

<style></style>
